---
import StarsIcon from "@components/icons/Stars.astro";
import Badge from "@components/ui/Badge.astro";
import Link from "@components/ui/Link.astro";
import { basics } from "@data/data.json";
import { Image } from "astro:assets";

const { highlight, title, description } = basics;
---

<section class="relative flex flex-col items-center w-full">
  <div class="relative flex flex-col items-center gap-32 w-[min(var(--max-width),100%)]">
    <article class="flex flex-col gap-4 items-center text-center">
      <Badge>
        <StarsIcon width={16} class="text-neutral-50" />
        {highlight}
      </Badge>
      <h2 class="text-7xl font-semibold max-w-[15ch] flex flex-col">
        {title}
      </h2>
      <p class="max-w-[70ch]">{description}</p>
      <div class="flex flex-wrap items-center justify-center gap-4">
        <Link href="/#plans" variant="secondary">Ver planes</Link>
        <Link href="https://google.com" target="_blank">Solicitar demo</Link>
      </div>
    </article>
    <figure class="flex w-[min(1260px,100%)]">
      <Image
        src="/images/hero_dashboard_img.png"
        width={1160}
        height={650}
        alt="Vista de dashboard CRM con pipeline, bandeja de mensajes y actividad de equipo"
        class="rounded-2xl w-full"
        loading="eager"
      />
    </figure>
  </div>
</section>
