---
import type { SiteData } from "@scripts/config/site.types";
import HeroStat from "./HeroStat.astro";
import HeroVisual from "./HeroVisual.astro";
import Link from "@components/ui/Link.astro";
import Section from "@components/layout/Section.astro";

interface Props {
  data: SiteData;
}

const { data } = Astro.props;
---

<Section id="hero" class="bg-red-500">
  <h1>rs</h1>
</Section>
