---

---

<section
  id="integrations"
  class="relative flex flex-col items-center gap-12 w-full
    after:absolute after:inset-0 after:bg-linear-to-b after:from-transparent after:to-neutral-950 after:-z-10"
>
  <header class="flex flex-col items-center gap-2 text-center w-[min(1160px,100%)]">
    <h2 class="text-5xl">Your all-in-one SaaS engine.</h2>
    <p class="max-w-[70ch]">
      Tools, security, and integrations — everything you need to launch and scale, zero hassle.
    </p>
  </header>
  <div class="flex items-center gap-4 w-[min(1160px,100%)]">
    {
      Array.from({ length: 3 }).map(() => (
        <article class="flex-1 bg-glass border border-neutral-800 p-8 rounded-2xl flex flex-col gap-32">
          <header>
            <figure class="w-24 h-24 bg-neutral-50 rounded-full" />
          </header>
          <section>
            <h3>Ironclad Protection</h3>
            <p>Safeguard your data with encryption and real-time monitoring.</p>
          </section>
        </article>
      ))
    }
  </div>
</section>
