---
import { Image } from "astro:assets";
---

<section
  id="integrations"
  class="relative flex flex-col items-center gap-12 w-full after:absolute after:inset-0 after:bg-linear-to-b after:from-neutral-950 after:to-transparent after:-z-10"
>
  <header class="flex flex-col items-center gap-2 text-center w-[min(1160px,100%)]">
    <h2 class="text-5xl">Integraciones</h2>
    <p class="max-w-[70ch]">
      Conecta tus herramientas favoritas para potenciar tu flujo de trabajo. Se integra nativamente con WhatsApp y
      correo, y ofrece APIs abiertas para conectar cualquier otra herramienta que uses.
    </p>
  </header>

  <div class="flex flex-col items-center justify-center gap-32 w-[min(1160px,100%)]">
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
  </div>
</section>
