---
import BrevoIcon from "@components/icons/Brevo.astro";
import GmailIcon from "@components/icons/Gmail.astro";
import PDFIcon from "@components/icons/PDF.astro";
import StarsIcon from "@components/icons/Stars.astro";
import WhatsappIcon from "@components/icons/Whatsapp.astro";
import Badge from "@components/ui/Badge.astro";
import Link from "@components/ui/Link.astro";
import IntegrationCard from "./IntegrationCard.astro";

const integrations = [
  [null, null, null, null, null, null, null, GmailIcon, null, null, null, null, null, null, null],
  [null, null, null, null, null, null, null, WhatsappIcon, BrevoIcon, null, null, null, null, null, null, null],
  [null, null, null, null, null, null, null, PDFIcon, null, null, null, null, null, null, null],
];
---

<section
  id="integrations"
  class="relative flex flex-col items-center gap-20 w-full px-4 after:absolute after:inset-0 after:bg-linear-to-b after:from-transparent after:to-neutral-950 after:-z-10"
>
  <div class="flex flex-col items-center w-[min(1160px,100%)]">
    {
      integrations.map((integration) => (
        <div class="flex gap-16">
          {integration.map((item) => (
            <IntegrationCard integration={item} />
          ))}
        </div>
      ))
    }
  </div>
  <footer class="flex flex-col items-center gap-4 w-[min(1160px,100%)]">
    <Badge>
      <StarsIcon width={16} class="text-neutral-50" />
      Más de 100 integraciones disponibles
    </Badge>
    <div class="flex flex-col items-center gap-2 text-center">
      <h2 class="text-5xl max-w-[30ch]">Conecta tus herramientas favoritas con facilidad</h2>
      <p class="max-w-[70ch]">
        Nuestra plataforma se integra sin problemas con una amplia variedad de aplicaciones y servicios populares, lo
        que te permite conectar tus herramientas favoritas y optimizar tu flujo de trabajo.
      </p>
    </div>
    <Link href="/integrations" class="mt-4">Explorar Más</Link>
  </footer>
</section>
