@import "tailwindcss";
@import "tailwind-animations";

@theme {
  --max-width: 1564px;

  /* Animations */
  --animate-hero-scale: hero-scale linear both;

  @keyframes hero-scale {
    from {
      transform: scale(0.9) translateY(-5%);
    }
    to {
      transform: scale(1) translateY(0%);
    }
  }
}

@theme inline {
  --font-sans: var(--font-dm-sans);
}

@custom-variant supports-scroll-timeline {
  @supports (animation-timeline: scroll()) {
    @slot;
  }
}

@custom-variant supports-view-timeline {
  @supports (animation-timeline: view()) {
    @slot;
  }
}

@utility bg-glass {
  @apply bg-[#141414]/20 backdrop-blur-[10px];
}

@layer base {
  :root {
    interpolate-size: allow-keywords;
  }

  html {
    scrollbar-width: thin;
    @apply scroll-pt-32 scroll-smooth;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    @apply font-medium text-balance;
  }
}

@layer components {
  .btn-primary {
    @apply border-neutral-50 bg-neutral-50 text-neutral-950;
  }

  .btn-secondary {
    @apply border-neutral-950 bg-neutral-950 text-neutral-50;
  }
}
