---
import Link from "@components/ui/Link.astro";
import { basics } from "@data/data.json";

const { name } = basics;

const navItems = [
  { label: "Funciones", href: "#features" },
  { label: "Integraciones", href: "#integrations" },
  { label: "Planes", href: "#plans" },
];
---

<header class="sticky top-0 left-0 flex justify-center w-full z-40">
  <nav class="flex items-center justify-between gap-4 w-[min(var(--max-width),100%)] px-4 py-4">
    <a href="/#" class="">{name}</a>
    <div class="flex items-center gap-16 p-2 pl-6 bg-glass rounded-full">
      <ul class="flex items-center gap-16 font-medium">
        {
          navItems.map(({ href, label }) => (
            <li>
              <a href={href}>{label}</a>
            </li>
          ))
        }
      </ul>
      <Link href="https://google.com" target="_blank">Solicitar demo</Link>
    </div>
    <span></span>
  </nav>
</header>
