---
interface Props {
  id?: string;
  class?: string;
}

const { id, class: className } = Astro.props;
---

<section id={id} class:list={["w-[min(var(--max-width),100%)]", className]}>
  <slot />
</section>
