---
import FeatureCard from "./FeatureCard.astro";
import { features } from "@data/data.json";
---

<section
  id="features"
  class="relative flex flex-col items-center gap-20 w-full bg-neutral-950 before:absolute before:bottom-full before:bg-neutral-950 before:w-full before:h-32 after:absolute after:top-full after:bg-neutral-950 after:w-full after:h-32"
>
  <header class="flex flex-col items-center gap-2 text-center w-[min(1160px,100%)]">
    <h2 class="text-5xl">Características</h2>
    <p class="max-w-[70ch]">
      Diseñado para potenciar tu productividad y eficiencia, nuestro CRM ofrece una amplia gama de características que
      se adaptan a las necesidades de tu negocio. Desde la gestión de contactos hasta la automatización de tareas, cada
      función está pensada para ayudarte a construir relaciones sólidas con tus clientes y hacer crecer tu negocio.
    </p>
  </header>
  <div class="flex flex-col items-center gap-20 w-[min(1160px,100%)]">
    {features.map((feature, index) => <FeatureCard reverse={index % 2 !== 0} />)}
  </div>
</section>
