---
import Footer from "@components/layout/Footer.astro";
import Header from "@components/layout/Header.astro";
import Features from "@components/sections/features/Features.astro";
import Hero from "@components/sections/hero/Hero.astro";
import Integrations from "@components/sections/integrations/Integrations.astro";
import Plans from "@components/sections/plans/Plans.astro";
import { seo } from "@data/data.json";
import Layout from "@layouts/Layout.astro";

const { title, description } = seo;
---

<Layout title={title} description={description}>
  <Header />
  <main class="flex-1 flex flex-col items-center gap-32 w-full">
    <Hero />
    <!-- <div
      class="relative flex-1 flex flex-col items-center gap-12 w-full bg-neutral-950 before:absolute before:bottom-full before:h-12 before:w-full before:bg-neutral-950 after:absolute after:top-full after:h-12 after:w-full after:bg-neutral-950"
    > -->
    <Features />
    <Integrations />
    <Plans />
    <!-- </div> -->
  </main>
  <Footer />
</Layout>
