---
import ArrowUp from "@components/icons/ArrowUp.astro";
import Background from "@components/layout/Background.astro";
import Curtain from "@components/layout/Curtain.astro";
import Footer from "@components/layout/Footer.astro";
import Header from "@components/layout/Header.astro";
import FAQ from "@components/sections/faq/FAQ.astro";
import Features from "@components/sections/features/Features.astro";
import Hero from "@components/sections/hero/Hero.astro";
import Integrations from "@components/sections/integrations/Integrations.astro";
import Plans from "@components/sections/plans/Plans.astro";
import Layout from "@layouts/Layout.astro";

const title = "Nexo CRM | Conversaciones que cierran ventas";
const description =
  "CRM inteligente para startups con WhatsApp y email nativos, automatizaciones de seguimiento y paneles de metricas en tiempo real.";
---

<Layout title={title} description={description}>
  <Curtain />
  <Background class="brightness-50" />
  <Header />
  <main class="relative flex w-full flex-1 flex-col items-center gap-32">
    <Hero />
    <Integrations />
    <Features />
    <Plans />
    <FAQ />
    <div class="absolute -bottom-26 flex w-[min(var(--max-width),100%)] justify-end p-4">
      <a href="#" class="flex rounded-full bg-neutral-50 p-3 transition-opacity hover:opacity-80">
        <ArrowUp width={24} class="text-neutral-950" />
      </a>
    </div>
  </main>
  <Footer />
</Layout>
