---
import Footer from "@components/layout/Footer.astro";
import Header from "@components/layout/Header.astro";
import FAQ from "@components/sections/faq/FAQ.astro";
import Features from "@components/sections/features/Features.astro";
import Hero from "@components/sections/hero/Hero.astro";
import Integrations from "@components/sections/integrations/Integrations.astro";
import Plans from "@components/sections/plans/Plans.astro";
import Layout from "@layouts/Layout.astro";

const title = "NexoFlow CRM | Conversaciones que cierran ventas";
const description =
  "CRM inteligente para startups con WhatsApp y email nativos, automatizaciones de seguimiento y paneles de metricas en tiempo real.";
---

<Layout title={title} description={description}>
  <div class="fixed inset-0 -z-10 before:absolute before:inset-0 before:bg-black/50">
    <canvas id="canvas" class="w-full h-full"></canvas>
  </div>
  <div class="fixed inset-0 -z-10 before:absolute before:inset-0 before:bg-black/50">
    <video src="/videos/hero.mp4" muted autoplay loop class="w-full h-full object-cover"></video>
  </div>
  <Header />
  <main class="flex-1 flex flex-col items-center gap-32 w-full">
    <Hero />
    <Integrations />
    <Features />
    <Plans />
    <FAQ />
  </main>
  <Footer />

  <!-- <script src="../scripts/scenes/tornadoScene.ts"></script> -->
</Layout>
