---
import Background from "@components/layout/Background.astro";
import Footer from "@components/layout/Footer.astro";
import Header from "@components/layout/Header.astro";
import FAQ from "@components/sections/faq/FAQ.astro";
import Features from "@components/sections/features/Features.astro";
import Hero from "@components/sections/hero/Hero.astro";
import Integrations from "@components/sections/integrations/Integrations.astro";
import Plans from "@components/sections/plans/Plans.astro";
import Layout from "@layouts/Layout.astro";

const title = "NexoFlow CRM | Conversaciones que cierran ventas";
const description =
  "CRM inteligente para startups con WhatsApp y email nativos, automatizaciones de seguimiento y paneles de metricas en tiempo real.";
---

<Layout title={title} description={description}>
  <Background class="brightness-50" />
  <Header />
  <main class="flex-1 flex flex-col items-center gap-8 w-full md:gap-32">
    <Hero />
    <Integrations />
    <Features />
    <Plans />
    <FAQ />
  </main>
  <Footer />
</Layout>
