---
import Background from "@components/layout/Background.astro";
import Footer from "@components/layout/Footer.astro";
import Header from "@components/layout/Header.astro";
import Policies from "@components/sections/policies/Policies.astro";
import { legal } from "@data/data.json";
import Layout from "@layouts/Layout.astro";

const title = "Términos y condiciones | Nexo CRM";
const description =
  "Consulta los términos y condiciones que regulan el acceso y uso del sitio web y servicios de Nexo CRM.";

const { terms } = legal;
---

<Layout title={title} description={description}>
  <Background class="brightness-50" hasGlass />
  <Header />
  <main class="flex flex-1 flex-col items-center gap-32 px-4">
    <Policies policy={terms} />
  </main>
  <Footer />
</Layout>
