---
import "@styles/global.css";
import { Font } from "astro:assets";

interface Props {
  title: string;
  description?: string;
}

const { title, description = "CRM inteligente para conversaciones y seguimiento" } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="description" content={description} />

    <title>{title}</title>
    <Font cssVariable="--font-dm-sans" preload />

    <script src="../scripts/config/lenis.ts"></script>
  </head>
  <body class="bg-neutral-950 text-neutral-50 text-pretty">
    <div class="relative flex flex-col gap-12 min-h-dvh overflow-clip items-center">
      <slot />
    </div>
  </body>
</html>
