---
import { sections } from "@data/data.json";
import FAQItem from "./FAQItem.astro";

const { faqs: faqsSection } = sections;
const { title, items } = faqsSection;
---

<section id="faqs" class="flex w-[min(1160px,100%)] flex-col justify-between gap-8 px-4 md:flex-row">
  <header
    class="flex flex-1 flex-col items-center md:items-start supports-view-timeline:animate-fade-in-up supports-view-timeline:animate-range-[entry_10%_cover_30%] supports-view-timeline:timeline-view"
  >
    <h2 class="max-w-[15ch] text-center text-6xl md:text-start">{title}</h2>
  </header>
  <div class="flex-[1.5]">
    {items.map((faq) => <FAQItem name="faqs" faq={faq} />)}
  </div>
</section>
