---
import { faqs } from "@data/data.json";
import FAQItem from "./FAQItem.astro";
---

<section id="faqs" class="w-full flex justify-center">
  <div class="flex justify-between gap-8 w-[min(1160px,100%)]">
    <header class="flex-1">
      <h2 class="text-6xl max-w-[15ch] font-medium">Preguntas Frecuentes</h2>
    </header>
    <div class="flex-[1.5]">
      {faqs.map((faq) => <FAQItem name="faqs" faq={faq} />)}
    </div>
  </div>
</section>
