---
interface Props {
  faq: {
    question: string;
    answer: string;
  };
  name?: string;
}

const { faq, name } = Astro.props;
const { question, answer } = faq;
---

<details name={name} class="border-b border-neutral-50">
  <summary class="flex items-center justify-between gap-4 cursor-pointer px-4 py-4 font-medium">
    {question}
    <div
      class="relative w-4 h-px bg-neutral-50 before:absolute before:top-0 before:w-full before:h-px before:bg-neutral-50 before:rotate-90"
    >
    </div>
  </summary>
  <div class="p-4 pt-0 flex justify-end">
    <p class="md:w-1/2">{answer}</p>
  </div>
</details>
