---
import ArrowOutwardIcon from "@components/icons/ArrowOutward.astro";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  variant?: "primary" | "secondary";
}

const { variant = "primary", class: className, ...rest } = Astro.props;
---

<a
  class:list={[
    "flex cursor-pointer items-center justify-center gap-3 rounded-full border py-2 pr-2 pl-6 text-base font-medium whitespace-nowrap transition-opacity hover:opacity-80",
    `btn-${variant}`,
    className,
  ]}
  {...rest}
>
  <slot />
  <div class:list={["flex rounded-full p-1", variant === "primary" && "bg-neutral-950"]}>
    <ArrowOutwardIcon width={20} class="text-neutral-50" />
  </div>
</a>
